<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-Vindo!</title>
</head>
<body>
    <header>
        <h1>Kanban</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/api/">Acessar API</a></li>
                <li><a href="/admin/">Acessar Admin</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>Bem-Vindo ao desafio Kanban!</h2>
        <p>O servidor Django e a conexão com o PostgreSQL estão funcionando corretamente!</p>
    </main>

    <footer>
        <p>&copy;</p>
        <a href="https://github.com/marcosfsc113">GitHub</a>
    </footer>
    
</body>
</html>